﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-6">
        <div class="title">
            <span class="basicinficn zmiconopf zmicn24">
            </span>
            <h3>Thông tin cá nhân</h3>
        </div>
        
        <ul class="list">
            <li>
                <span class="basicinficn subitem zmicnmssv">
                </span>
                <label class="form-label">MSSV:</label>
                <div class="form-element">1212502</div>
            </li>
            <li>
                <span class="basicinficn subitem zmicnname">
                </span>
                <label class="form-label">Họ và tên:</label>
                <div class="form-element">Nguyễn Văn Ty</div>
            </li>
            <li>
                <span class="basicinficn subitem zmicnmail">
                </span>
                <label class="form-label">Email:</label>
                <div class="form-element">1212502student@gmail.com</div>
            </li>
        </ul>
    </div>
    <div class="col-md-2 image">
        <img class="img-thumbnail" src="~/images/vanty.jpg" alt="không load được" title="Ảnh đại diện" />
        <p style="text-align:center">Ảnh đại diện</p>
    </div>
    <div class="col-md-4">
    </div>
</div>


