﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.list li{
    margin-bottom:7px;
}
.list{
    list-style-type:none;
}
.image img{
    width:100%;
    height:200px;
    padding:5px;
}
.form-label{
    float:left;
    min-width:100px;
}
/*Thong tin ca nhan*/
.basicinficn{
    background-image:url(../images/imgsprt-1.12.png);
    background-repeat:no-repeat;
    float:left;
}
.zmiconopf{
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
}
.zmicn24{
    background-position:-256px -128px;
}
.zmicnmssv{
    background-position:0px -32px;
}
.zmicnname{
    background-position:0px 0px;
}
.zmicnmail{
    background-position:0px -48px;
}
.subitem{
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
}


